{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "no-console": 0,
    "no-unused-vars": "off",
    "vue/html-closing-bracket-spacing": [
      "error",
      {
        "selfClosingTag": "never"
      }
    ],
    "vue/html-closing-bracket-newline": [
      "error",
      {
        "multiline": "never"
      }
    ]
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}