.is-gold-outline {
  border-color: var(--tertiary) !important;
  color: var(--tertiary) !important;
}

.is-purple-outline {
  border-color: var(--secondary) !important;
  color: var(--secondary) !important;
}