.button,
.composition-list-item,
.filter-label,
.filter-option-checkbox,
.item,
.keyboard .key,
.menu-item a,
.round,
.table tr {
  transition: $hover-in;

  &:hover, &:focus {
    background-color: var(--hover);
    transition: $hover-out;
  }
}