.menu-item {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  margin-top: $spacing-small;
  position: relative;
  text-transform: uppercase;

  &.is-active > a {
    background-color: var(--active);
  }

  &:hover:after,
  &:hover > a:after,
  &.is-active:after,
  &.is-active > a:after {
    transition: $hover-out;
    width: 10px;
  }

  a {
    border-radius: $radius;
    color: var(--colour) !important;
    display: flex;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
    padding-left: 1em;
    position: relative;

    &:after {
      background: var(--primary);
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      content: "";
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: $hover-in;
      width: 0;
    }
  }

  ul a {
    line-height: 1.25 !important;
  }
}
