.tooltip-container {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
    transform: scale(0.7);
    transition: 0.2s ease-in 0.3s;
    transform-origin: 0;
    transition-property: opacity, transform;
    visibility: visible;

    &.tooltip-bottom {
      transform: scale(1) translateX(-50%);
    }
  }

  > .dropdown.is-active + .tooltip {
    visibility: hidden;
  }

  > .tooltip {
    background-color: var(--colour);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: var(--fill);
    display: block;
    font-size: 0.8em;
    padding: 0.5rem;
    position: absolute;
    text-transform: capitalize;
    transform: scale(0.7);
    transition: 0.2s ease-out;
    transition-property: opacity, transform;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    z-index: 500;

    &::after {
      border-width: 5px;
      border-style: solid;
      border-color: var(--colour) transparent transparent transparent;
      content: " ";
      position: absolute;
    }

    &.tooltip-multiline {
      width: 300px;
      white-space: pre-wrap;
    }

    &.tooltip-top {
      bottom: 120%;
      transform: scale(0.7) translateX(-50%);
      left: 50%;

      &::after {
        left: 50%;
        margin-left: -5px;
        top: 100%;
      }
    }

    &.tooltip-bottom {
      left: 50%;
      transform: scale(0.7) translateX(-50%);
      top: calc(100% + 10px);

      &::after {
        left: 50%;
        margin-left: -5px;
        border-color: transparent transparent var(--colour) transparent;
        bottom: 100%;
      }
    }

    &.tooltip-left {
      right: 140%;
      top: -5px;

      &::after {
        top: 50%;
        margin-top: -5px;
        border-color: transparent transparent transparent var(--colour);
        left: 100%;
      }
    }

    &.tooltip-right {
      left: 120%;

      &::after {
        top: 50%;
        margin-top: -5px;
        border-color: transparent var(--colour) transparent transparent;
        right: 100%;
      }
    }
  }
}