.is-grey {
  background-color: darkgrey;
}

.is-bronze {
  background-color: #a77a71;
}

.is-silver {
  background-color: silver;
}

.is-gold {
  background-color: #d4af37;
}

.is-chromatic {
  background-color: lightslategray;
}