@import "modules/cost";
@import "modules/hover";
@import "modules/hotkey";
@import "modules/menu";
@import "modules/table";
@import "modules/tooltip";
@import "modules/traits";

// General
[v-cloak] {
  display: none;
}

body p {
  margin-bottom: 0.75rem;
}

h1, h2, h3 {
  font-weight: bold !important;
}

.input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.image-list {
  display: flex;
}

.filter-label:not(.is-active) + .filter-list .filter-option-checkbox {
  transform: scale(1) !important;
}

:not(.icon, .filter-option-image, .menu-item, .progress-bar).is-active {
  background-color: $white-ter;
  box-shadow: $shadow;
  border-radius: 5px;
  transform: scale(1.05);
  transition: 0.2s ease-out;
}

.portrait {
  margin: 0 auto;
}