// Brand
$black: #0a0a0a;
$blue: #2160c4;
$blue-dark: #2367d2;
$blue-light: #a3d6e4;
$coral: #ef767a;
$coral-light: rgba($coral, 0.8);
$gold: #947600;
$gold-light: #e4c157;
$grey-dark: #4a4a4a;
$grey-light: #eeeeee99;
$indigo: #1b123d;
$iron: #c1c1c1;
$iron-light: #d6d6d6;
$java: #00adb5;
$java-light: rgba($java, 0.8);
$purple: #a67db8;
$purple-dark: #724884;
$purple-light: rgba($purple, 0.8);
$red: #f14668;
$alabaster-dark: #c6c1b9 ;
$alabaster: #ddd7ce;
$alabaster-light: #e5e1da;
$shark: #1a1e25;
$shark-light: #222831;
$ship: #393e46;
$ship-dark: #33383f;
$ship-light: #74787e;
$ship-darkest: #2b2f35;
//$turquoise: #B24C63;
//$turquoise: #F2D492;
$turquoise: #00947e;
$yellow: #ffdd57;
$white: #eeeeee;
$white-dark: rgba($white, 0.85);
$white-darker: rgba($white, 0.75);
$white-darkest: rgba($white, 0.6);
$wild-sand: #f3f3f3;

// Colours
$primary: $java;
$text: $white;

// Spacing
$spacing: 0.75em;
$spacing-large: 1em;
$spacing-small: 0.5em;
$spacing-smallest: 0.25em;

// Radii
$radius-small: 3px;
$radius: 5px;
$radius-large: 10px;

// Transitions
$transition: background-color 0.5s ease, color 0.5s ease;
$hover-in: 0.2s ease-in;
$hover-out: 0.2s ease-out;

// Shadows
$shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$nav-shadow: 0px -2px 20px 0px;
$footer-shadow: 0px 2px 20px 0px;

// Images
$dimensions: 14 16 18 19 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 52 56 64
  72 96 120 128 200 400 !default;

// Typography
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$family-sans-serif: "B612", sans-serif;
$family-primary: $family-sans-serif;

// Nav
$navbar-box-shadow-color: $grey-dark;
$navbar-box-shadow-size: 0px -2px 20px 0px;
$navbar-item-img-max-height: inherit;

// Menu
$menu-list-border-left: none;
$menu-nested-list-margin: 0 0 0 0.75em;
$menu-nested-list-padding-left: 0;

// Input
$input-border-color: none;
$input-focus-border: none;
$input-hover-border-color: transparent;
$input-radius: $radius;

// Table
$table-cell-border: 1px solid transparent;

// Links
$link: $grey-dark;
$link-hover: $primary;

// Height
$screen-height: calc(100vh - 14.5em)
